<div class='col-sm-offset-4 col-sm-4'>
    <h2>Empresas</h2>
</div>

'<div class='col-sm-6'>        
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNovo">Novo</button>
</div>

<div class='col-sm-offset-1 col-sm-9'>
    <table class="table table-hover"> 
        <thead>
            <tr>
                <th style="border: 0px;">Razão Social</th>
                <th style="border: 0px;">CNPJ</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="empresa in empresasController.empresas">
                <td>{{empresa.razaoSocial}}</td>
                <td>{{empresa.cnpj}}</td>
                <td>
                    <button type="button" class="btn btn_default" data-toggle="modal" 
                        data-target="#modalEditar" ng-click="selecionaEmpresa(empresa)">Editar</button>                                             
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" 
                        data-target="#modalExcluir" ng-click="selecionaEmpresa(empresa)">Excluir</button>
                </td>
            </tr>        
        </tbody>
    </table>
</div>

